@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
  line-height: $line-height;
}

@mixin sidebar-section {
  border-bottom: $lightgray-border;
  p {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 15px; 
    font-weight: bold; 
    color: gray;
  }

  .sidebar-subscribe-item{
    padding-left: 30px;
    padding-top: 10px;
  }

  div {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-left: 10px;
    .sidebar-icon {
      width: 45px;
      height: 45px;
      padding-top: 15px;
    }
    .sidebar-title{
      height: 25px;
      line-height: 25px;
      padding-top: 14px;
      padding-left: 20px;
    }
  }
  div:hover{
    background-color: #e5e5e5;
  }
}

@mixin video-skeleton{
  background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
  animation: refresh 2s infinite ease-out;
}

$lightgray-border: 1px solid lightgray;

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body,
.container {
	/* necessary */
	height: 100vh;
	min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    overflow-y: auto;
    height: 56px;
    .start {
      display: flex;
      width: 230px;
      .menu {
        cursor: pointer;
        width: 70px;
        .menu-bar-svg{
          padding: 17px;
        }
      }
      .logo {
        cursor: pointer;
        width: 100px;

        .youtube-logo-svg{
          width: 90px;
          height: 56px;
        }
      }
    }

    .mini-search {
      width:25px;
      margin: 15px;
      padding-top: 3px;
    }
    .search {
      display: flex;
      justify-content: center;
      flex: 1;
      overflow-y: auto;
      min-width: 0px;
      .video-search-form{
        align-items: center;
        overflow-y: auto;
        .video-search-input{
          height: 35px;
          width: 500px;
          padding-left: 7px;
          border: $lightgray-border;
          border-radius: .1rem;
        }
        .video-search-submit{
          display: flex;
          cursor: pointer;
          height: 35px;
          min-width:60px;
          border: $lightgray-border;
          border-radius: .1rem;
          .video-search-submit-icon{
            align-items: center;
            width:25px;
            opacity: .5;
            margin-left: 15px;
            padding-top: 5px;
          }
        }
      }
      .voice-record-button{
        margin: 17px;
        .voice-record-container{
          cursor: pointer;
          width: 30px;
          height: 30px;
          margin-top: -3px;
          border-radius: 70%;
          background-color: #f9f9f9;
          padding: 5px;
        }
      }
    }

    .user {
      display: flex;
      justify-content: center;
      padding-right: 10px;

      div {
        cursor: pointer;
        width: 25px;
        margin: 12px;
        padding: 1px;
      }

      .profile img{
        width: 30px;
        height: 30px;
        border-radius: 70%;
      }
    }
  }


  .body {
    display: flex;
    flex: 1;
    overflow-y: auto;
    .mini-sidebar {
      width: 70px;
      .sidebar-main-section{
        .mini-sidebar-item {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          padding: 15px 20px 15px 20px;
          
          .section-title{
            font-size: 10px;
          }

          .sidebar-title{
            text-align: center;
            font-size: 10px;
          }
        }

        div:hover {
          background-color: #e5e5e5;
        }
      }
    }

    .sidebar {
      flex-direction: column;
      overflow: auto;
      width: 230px;
      height: 100%;

      .sidebar-main-section{
        @include sidebar-section()
      }
      .sidebar-video-section{
        @include sidebar-section();
      }
      .sidebar-subscribe-section{
        @include sidebar-section();
      }
      .sidebar-youtube-more-section{
        @include sidebar-section();
      }
      .sidebar-guide-section{
        @include sidebar-section();
      }
      .footer{
        display: flex;
        flex-wrap: wrap;
        div {
          margin: 20px;
          margin-bottom: 0px;
          a {
            padding: 3px;
            text-decoration: none;
            font-size: 13px;
            color: #606060;
          }
        }
        .copyright{
          font-size: 12px;
          color: #909090;
        }
      }
    }
  
    .main {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;

      .chip{
        justify-content: center;
        overflow: auto;
        min-height: 56px;
        border-top: $lightgray-border;
        border-bottom: $lightgray-border;
        
        .chip-list{
          display: flex;
          .chip-item{
            white-space:nowrap;
            min-height: min-content;
            cursor: pointer;
            margin: 8px;
            padding: 10px;
            border: 1px solid lightgray;
            background-color: #ecebeb;
            border-radius: 2rem;
            font-size: 14px;
          }
        }
      }

      .chip::-webkit-scrollbar{
        display: none;
      }

      .videos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 100vh;
        background-color: #f9f9f9;
        font-size: 15px;
        overflow: auto;

        .first-page{
          font-family: monospace;
          width: 100%;
          height: 100%;
          font-size: 30px;
          font-weight: 100;
          text-align: center;
          padding: 10%;
        }

        .video-not-found{
          width: 100%;
          height: 100%;
          text-align: center;
          padding: 200px;
        }

        .skeleton {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 270px;
          height: 150px;
          min-height: 300px;
          cursor: pointer;
          text-decoration: none;
          margin: 10px;
          .image {
            @include video-skeleton();
            height: 120px;
          } 
          .line {
            
            :first-child{
              @include video-skeleton();
              height: 20px;
              margin-bottom: 10px;
            }

            :last-child{
              @include video-skeleton();
              height: 20px;
              width: 70%;
            }
          }
        }

        .searched-video{
          width: 300px;
          height: 300px;
          margin: 1px;
          cursor: pointer;


          .video-title{
            padding-top: 10px;
            @include ellipsis(2, 1.3em)
          }
          .video-detail {
            padding-top: 10px;
            color: gray;
            line-height: 1.2em;
          }
        }
      }
    }
  }
}
@media (min-width: 1313px){
  .sidebar{
    display: flex;
  }
  .mini-sidebar{
    display: none;
  }
  .video-search-form {
    display: flex;
  }
  .mini-search {
    display: none;
  }
}

@media (max-width: 1313px){
  .sidebar {
    display: none;
  }
  .mini-sidebar{
    display: flex;
  }
  .video-search-form {
    display: flex;
  }
  .mini-search {
    display: none;
  }
}
@media (max-width: 792px){
  .mini-sidebar {
    display: none;
  }
  .video-search-form {
    display: flex;
  }
  .mini-search {
    display: none;
  }
}
@media (max-width: 741px){
  .video-search-form {
    display: none;
  }
  .mini-search {
    display: flex;
  }
}